absl-py==2.1.0
alembic==1.14.0
astunparse==1.6.3
attrs==24.2.0
blinker==1.9.0
Brotli==1.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
cycler==0.12.1
decorator==4.4.2
dnspython==2.7.0
email-validator==1.1.3
et-xmlfile==1.1.0
etelemetry==0.3.1
filelock==3.16.1
fitz==0.0.1.dev2
Flask==3.1.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.55.3
gast==0.6.0
git-filter-repo==2.47.0
google-pasta==0.2.0
googletrans==3.0.0
greenlet==3.1.1
grpcio==1.67.1
h11==0.9.0
h2==3.2.0
h5py==3.12.1
hpack==3.0.0
hstspreload==2024.11.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.6.0
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.43.0
looseversion==1.3.0
lxml==5.3.0
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.4.1
moviepy==1.0.3
mpmath==1.3.0
mutagen==1.47.0
namex==0.0.8
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.0
numba==0.60.0
numpy==1.26.4
onnxruntime==1.20.0
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
pathlib==1.0.1
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
proglog==0.1.10
protobuf==5.28.3
prov==2.0.1
puremagic==1.28
pycparser==2.22
pycryptodomex==3.21.0
pydot==3.0.2
pydub==0.25.1
Pygments==2.18.0
PyMatting==1.1.13
pyparsing==3.2.0
PyPDF2==3.0.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==0.19.0
pytube==15.0.0
pytz==2024.2
pyxnat==1.6.2
rdflib==6.3.2
referencing==0.35.1
rembg==2.0.59
requests==2.32.3
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.21.0
scikit-image==0.24.0
scipy==1.14.1
selenium==4.26.1
setuptools==75.3.0
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SpeechRecognition==3.11.0
SQLAlchemy==2.0.36
srt==3.5.3
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tifffile==2024.9.20
tk==0.1.0
tkinterdnd2==0.4.2
tqdm==4.66.6
traits==6.4.3
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vosk==0.3.45
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
wxPython==4.2.2
yt-dlp==2024.12.13
